body{
    display: flex;
    justify-content: center;
}

table{
    border: solid;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


th, td{
    padding: 20px;
    text-align: center;
}
